<!DOCTYPE html>
<html lang="en">

<head>
    <title>What Can I Run?</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{
        url_for('static', filename='input_style.css')}}" />
</head>

<body>
  <h1>What Can I Run?</h1>
  <div id="specification">
      <form action="{{ url_for('results')}}" method="post">
          <div id="top_spec">
              <label for="cpu_name">CPU:</label>
              <input type="text" name="CPU" id="cpu_name"list="processors"
                placeholder="Select a Suggestion" required/>
              <datalist id="processors">
                {% for cpu in cpus %}
                    <option value="{{cpu.cpu_name}}">
                {% endfor %}
              </datalist>
              <label for="gpu_name">GPU:</label>
              <input type="text" name="GPU" id="gpu_name" list="graphics"
                placeholder="Select a Suggestion" required/>
              <datalist id="graphics">
                {% for gpu in gpus %}
                    <option value="{{gpu.gpu_name}}">
                {% endfor %}
              </datalist><br /><br />
          </div>
          <div id="mid_spec">
              <label for="ram">RAM</label>
              <select name="ram_num" id="ram" required>
                  <option value="" disabled selected hidden>Choose RAM...</option>
                  <option value=0.5>512 MB</option>
                  <option value=1>1 GB</option>
                  <option value=2>2 GB</option>
                  <option value=4>4 GB</option>
                  <option value=8>8 GB</option>
                  <option value=12>12 GB</option>
                  <option value=16>16 GB</option>
              </select>
              <label for="os">OS:</label>
              <select name="os_version" id="os" required>
                  <option value="" disabled selected hidden>Choose OS...</option>
                  <option value=5>Windows XP</option>
                  <option value=6>Windows Vista</option>
                  <option value=7>Windows 7</option>
                  <option value=8>Windows 8</option>
                  <option value=10>Windows 10</option>
              </select><br /><br />
          </div>
          <div id="bottom_spec">
              <label for="min">Minimum:</label>
              <input type="radio" name="spec_level" id="min" checked="checked" value="minimum"/>
              <label for="rec">Recommended:</label>
              <input type="radio" name="spec_level" id="rec" value="mecommended" />

          </div>
          <div id="order_submit">
              <label>Order By:</label>
              <select name="order_by">
                  <option value="userscore" selected>Userscore</option>
                  <option value="performance">Performance</option>
                  <option value="price">Price</option>
              </select>
              <input type="submit" value="Submit">
          </div>
          <div id="search">
              <input type="text" name="tag_search" id="tag_input" list="tags" placeholder="Input a steam tag">
              <datalist id="tags">
                  {% for tag in tags %}
                    <option value="{{tag.tag}}">
                  {% endfor %}
              </datalist>
          </div>
      </form>
  </div>

</body>
